:root {
    --main-color: #DF6C4F;
    --accent-color: #49988f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 100px;
}


nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    align-items: center;

    & > img {
        margin-right: auto;
    }

    .nav-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        gap: 5px;

        & > a {
            color: var(--main-color);
            text-decoration: none;
            display: block;
            font-size: 1.2em;
        }
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 10rem;
    padding: 0 2rem;

    & > img {
        margin: -3em 0;
        width: 600px;
        height: 400px;
    }

    & > h1 {
        color: var(--main-color);
        font-weight: 800;
        font-size: 2em;

    }

    & > h2 {
        font-size: 1em;
        margin-top: 15px;
    }
}

section {
    text-align: center;
    padding: 2em;

    &:nth-of-type(1){
        background-color: var(--accent-color);
        color: #fff;
    }

    & > article {
        padding: 2em;
        border: 1px solid gray;
        &:nth-of-type(1){
            border-radius: 10px 10px 0 0;
        }

        &:nth-last-of-type(1){
            border-radius: 0 0 10px 10px;
        }
    }


    & > article > h1 {
        color: #DF6C4F;
        font-weight: 800;
        font-size: 2em;
        margin-bottom: 1.5rem;
    }

    & > article > p {
        font-size: 1.2em;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }

    & > article > ul {
        margin-top: 3rem;
        list-style-type: none;
        & > li {
            font-size: 1.3eem;
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 1em;
 
        .work {
            width: 90%;
            border-radius: 10px;
        }
    }
}

#introduction {
    padding: 5em 2em 10em;

    & > h1 {
        font-size: 2em;
        margin-bottom: 1em;
        color:var(--main-color)
    }

    & > p {
        font-size: 1    em;
    }

}

#skills {
    margin-top: -8em;

    & > article {
        background-color: white;
    }
}

#portfolio {
    padding: 2em 1em;

    & > h1 {
        font-size: 3em;
        margin-bottom: 1em;
        color: var(--main-color)
    }
}

footer {
    background-color: var(--accent-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    
    & > p {
        margin-top: 1em;
    }

    .contacts {
        margin-top: 3em;
        display: flex;
        align-items: center;
        gap: 2em;
        
        & > img {
            border-radius: 50%;
        }
    }

    
}

@media screen and (min-width: 768px) {
    html { font-size: 125%; }

    header > img {
        width: 700px;
        height: 460px;
    }

    #skills {
        display: flex;

        & > article {
            flex: 1;

            &:nth-of-type(1){
                border-radius: 10px 0 0 10px;
            }

            &:nth-last-of-type(1){
                border-radius: 0 10px 10px 0;
            }
        }
    }

    #portfolio .works {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & > a {
            width: 100%;
        }
    }

}

@media screen and (min-width: 1000px){
    nav .hamburger {
        display: none;
    }

    nav > .nav-menu {
        display: flex !important;
        flex-direction: row;
        width: fit-content;
        gap: 2em;
    }

    #introduction {
        padding: 5em 15em 10em
    }
}






